.pixel-cat {
  width: 64px;
  height: 64px;
  margin: 10px auto;
  background-image: url("https://raw.githubusercontent.com/PixelVision8/PixelVision8-Examples/main/images/cat.png");
}

.idle {
  animation: idleAnim 1s steps(4) infinite;
}

@keyframes idleAnim {
  from { background-position-x: 0; }
  to { background-position-x: -256px; }
}
